{%load static%}
<html>
    <head>
        <title>SCIS - Login</title>
    </head>
    <script src="{% static 'script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <body id="login-page">
        <!--Login form for clinic employee (This could be a doctor, nurse, or other positions)-->
        <div id="login-form-external">
            <div id="form-name">
                <h1>Login page</h1>
            </div>
            <div id="login-form-internal">
                <div id="login-form">
                    <label for="username">Username</label>
                    <br>
                    <input type="text" name="username" id="username">
                    <br><br>
                    <label for="password">Password</label>
                    <br>
                    <input type="password" name="password" id="password">
                    <br><br>
                    <input type="checkbox" name="remember_me" id="remember_me"> Remember me &emsp;&emsp;&emsp;&emsp;<a href="#">I forgot my password</a>
                    <br><br>
                    <div class="submit-login">
                        <button onclick="hello()"><h2>Submit</h2></button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>