/*Login page*/
#login-page
{
    background-color: #F8E454;
}

#form-name
{
    text-align: center;
}

#login-form-external
{
    margin: 0 auto;
    width: 25%;
}

#login-form
{
    font-size: 20px;
    font-family: 'Times New Roman';
}

#login-form #username
{
    height: 40px;
    width: 340px;
}

#login-form #password
{
    height: 40px;
    width: 340px;
}